---
import { Image } from 'astro:assets';
import Icon from '../components/Icon.astro';
import xLogo from '../assets/images/logo-black.png';
import xLogoHover from '../assets/images/logo-yellow.png';
import githubLogo from '../assets/images/github-mark.png';
import githubLogoHover from '../assets/images/github-yellow.png';

const { platform, username } = Astro.props;

const getPlatformUrl = (platform, username) => {
  if (platform === 'linkedin') {
    return `https://www.linkedin.com/in/${username}`;
  }
  return `https://www.${platform}.com/${username}`;
};
---
<style>
  main {
    margin-top: 0;
    padding-top: 0;
  }
  p {
    margin-top: 0;
    padding-top: 0;
  }
</style>

<main>
  <p>Let's connect!</p>
  <Icon
    normalImage={xLogo}
    hoverImage={xLogoHover}
    alt="X Logo"
    link="https://x.com/seanboisselle"
  />
  <Icon 
    normalImage={githubLogo}
    hoverImage={githubLogoHover}
    alt="Github Logo"
    link="https://github.com/boisselle"
  />
</main>