---
import { Image } from 'astro:assets';
import Icon from '../components/Icon.astro';
// import xLogo from "/images/logo-black.png";
// import xLogoHover from "/images/logo-yellow.png";
const { platform, username } = Astro.props;

const getPlatformUrl = (platform, username) => {
  if (platform === 'linkedin') {
    return `https://www.linkedin.com/in/${username}`;
  }
  return `https://www.${platform}.com/${username}`;
};
---
<main>
  <p>Let's connect!</p>
  <Icon
    normalImage="/images/logo-black.png"
    hoverImage="/images/logo-yellow.png"
    alt="X Logo"
  />
  <Icon 
    normalImage="/images/github-mark.png"
    hoverImage="/images/github-yellow.png"
    alt="Github Logo"
  />
</main>
<!-- <a
  href="https://twitter.com/seanboisselle"
  target="_blank"
  rel="noopener noreferrer"
  class="custom-button"
>
  <Image src={xLogo} alt="Twitter / X Icon" class="x-logo" width={24} height={24} />
  <Image src={xLogoHover} alt="Twitter / X Icon" class="x-logo-hover" width={24} height={24} />
  <span>Let's connect!</span>
</a>

<style>

  .custom-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background-color: initial;
    text-decoration: none;
    border: 2px solid black; /* Add a black outline */
    border-radius: 8px;      /* Make the button rounded */
  }

  .custom-button .x-logo-hover {
    display: none;
  }

  .custom-button:hover {
    background-color: black;
  }

  .custom-button:hover span {
    color: #FFDD77;
  }

  .custom-button:hover .x-logo {
    display: none;
  }

  .custom-button:hover .x-logo-hover {
    display: inline;
  }

  .custom-button .x-logo,
  .custom-button .x-logo-hover {
    margin-right: 8px; /* Adjust the value as needed */
  }
</style> -->